PROJECT_NAME = LTF
INPUT = ../README.md
INPUT += ./LTF/LTF.h ./src/LTF.cxx
INPUT += example_CMSinclusivejets_NN30_BRSSWpaper.cxx example_CMSinclusivejets_MSTW_CMSpaper.cxx
INPUT += LTF_Tools.cxx
INPUT += LTF_ROOTTools.h
USE_MDFILE_AS_MAINPAGE = ../README.md
OUTPUT_DIRECTORY = .
GENERATE_HTML = YES
GENERATE_LATEX = NO
HTML_OUTPUT = html/
HTML_FILE_EXTENSION = .html
