PROJECT_NAME = LTF
INPUT = ../README.md
INPUT += ./LTF/LTF.h ./src/LTF.cxx
INPUT += LTF_Tools.h
INPUT += LTF_ROOTTools.h
INPUT += example_CMSinclusivejets_NN30_BRSSWpaper.cxx example_CMSinclusivejets_MSTW_CMSpaper.cxx
INPUT += example1_LTF_gaus.cxx example2_LTF_gaus2D.cxx
INPUT += example1_LTF_gaus_NoROOT.cxx example2_LTF_gaus2D_NoROOT.cxx
USE_MDFILE_AS_MAINPAGE = ../README.md
OUTPUT_DIRECTORY = .
GENERATE_HTML = YES
GENERATE_LATEX = NO
HTML_OUTPUT = html/
HTML_FILE_EXTENSION = .html
